<html>
<head>
    <title>Crush the Rust</title>
</head>
<script type="text/javascript" src="assets/javascript/jquery.min.js"></script>
<script type="text/javascript" src="assets/javascript/main.js"></script>
<script type="text/javascript" src="assets/javascript/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<body class="background-dd">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand text-white" href="#" >
                <span class="text-white h4">Dungeons & Dragons</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/characters"><span class="text-white">All</span></a></li>
                <li><a href="/characters/create"><span class="text-white">Create</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row center background-white" style="margin-top: 100px;">
    <div class="col-md-8 ">
        <table class="table-responsive table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Race</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{#each characters}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{class}}</td>
                        <td>{{race}}</td>
                        <td><a href="/characters/html/{{id}}" class="view-character" data-id="{{id}}">view</a></td>
                        <td><a href="/characters/json/{{id}}">json</a></td>
                        <td><a href="/characters/edit/{{id}}">edit</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>