<html>
<head>
    <title>Crush the Rust</title>
</head>
<script type="text/javascript" src="assets/javascript/jquery.min.js"></script>
<script type="text/javascript" src="assets/javascript/main.js"></script>
<script type="text/javascript" src="assets/javascript/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="...">
                Dungeons & Dragons
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/all">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row center">
    <div class="col-md-8 ">
        <table class="table-responsive table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Race</th>
                    <th>&nbsp;</th>
                    <!--<th>Strength Stat</th>
                    <th>Dextirity Stat</th>
                    <th>Constitution Stat</th>
                    <th>Intelligence Stat</th>
                    <th>Wisdom Stat</th>
                    <th>Charisma Stat</th>
                    <th>strength_mod</th>
                    <th>dex_mod</th>
                    <th>con_mod</th>
                    <th>intl_mod</th>
                    <th>wsdm_mod</th>
                    <th>charisma_mod</th>
                    <th>ac</th>-->
                </tr>
            </thead>
            <tbody>
                {{#each characters}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{class}}</td>
                        <td>{{race}}</td>
                        <td><a href="/characterbyid?id={{id}}" class="view-character" data-id="{{id}}">view</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>